@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic,latin-ext')
$white: #fff
$black: #000
$red: #c62828
$accent: #2980B9
$border: 1px solid rgba($white, .2)
$font-family: 'Roboto', sans-serif

@keyframes move-error
  0%
    transform: translateX(0)
  25%
    transform: translateX(5px)
  50%
    transform: translateX(0px)
  75%
    transform: translateX(10px)
  100%
    transform: translateX(0px)
